/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

* {
  padding: 0;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;
  /* overflow: hidden; */
  padding: 4rem;
  scrollbar-width: none;
}

.heading-container {
  padding: 10px;
  margin: 1rem;
}

.main-heading {
  font-size: 2.8rem;
  font-weight: 900;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.main-para {
  color: rgb(124, 120, 120);
  font-size: 1.4rem;
}

.product-container {
  /* background-color: aqua; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 1rem;
}

.cards-container {
  grid-column: span 2;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.product-heading {
  font-size: 2.4rem;
  font-weight: 700;
  margin: 1.5rem;
}

.items {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgb(201, 198, 198);
  list-style: none;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  border: 1px solid rgb(230, 225, 225);
}

.title {
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 550;
  /* margin: 10px; */
}

.price {
  font-size: 900;
  margin: 20px;
  font-size: 2rem;
}

.addTCartBtn {
  width: 100%;
  padding: 10px;
  color: white;
  font-size: 1rem;
  font-weight: 800;
  background-color: black;
  border-radius: 8px;
  cursor: pointer;
}

.cart-container {
  /* background-color: aqua; */
  /* width: 500px; */
}

.item-title {
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  padding: 10px;
  font-size: 1.5rem;
  font-weight: 550;
}

.item {
  padding: 10px;
  list-style: none;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  border: 2px solid rgb(230, 225, 225);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgb(201, 198, 198);
  width: 100%;
}

.quantity-remove-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.quantity {
  font-size: 1.3rem;
  color: rgb(148, 143, 143);
}

.removeBtn {
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(230, 62, 62);
  box-shadow: 0 2px 5px rgb(150, 83, 83);
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 900;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.removeBtn:hover {
  /* transform: translateX(-5px); */
  transform: scale(1.05);
}

.total-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  border: 1px solid rgb(230, 225, 225);
  box-shadow: 0px 2px 5px rgb(201, 198, 198);
  padding: 10px;
  width: 100%;
}

.total {
  font-size: 2rem;
  font-weight: 900;
}

.total-price {
  font-size: 1.5rem;
  font-weight: 700;
}
